/* Dashboard Container */
.dashboard {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

/* Row Container - Ensures items are in pairs */
.row {
    display: flex;
    justify-content: space-between; /* Pushes items to the left & right */
    width: 80%; /* Adjust width to prevent stretching */
    max-width: 1200px; /* Prevents it from expanding too wide */
    margin-bottom: 10px;
}

/* Cards Section */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
  }
  
  .card {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Charts Section */
  .charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    margin-bottom: 0px;
    align-items: center;
  }
  
  .chart {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
  }
  
  .chart canvas {
    width: 200% !important; 
    height: auto !important;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .charts-container {
      grid-template-columns: 1fr;
    }
  }

.navigate-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .navigate-button:hover {
    background-color: #2980b9;
  }
  
